.page{
    background-size: cover;
    background-image: url("back.jpg");
}
.main{
    padding-top: 30px;
    text-align: center;
}
.piano{
    display: inline-block;
    background-color: rgb(88, 0, 151);
    box-shadow: 5px 11px 27px -15px;
    border-radius: 15px;
    padding: 10px;
}
.cap{
    overflow: hidden;
    z-index: 20;
    width: 674px;
    height: 45px;
    background-color: rgb(88, 0, 151);
    box-shadow: 8px 11px 17px -17px;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
button{
    outline: none;
    width: 44px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 5px 11px 27px -15px;
    transition: all 0.05s ease-in-out;
}
.black button{
    z-index: 11;
    margin-top: 5px;
    position: absolute;
    outline: none;
    color: transparent;
    background-color: rgb(19, 19, 19);
    height: 178px;
    box-shadow: inset -10px -5px 10px -7px rgb(122, 122, 122);
}
.white button{
    font-size: 0px;
    height: 263px;
    padding-top: 225px;
    box-shadow: inset 0px 0px 8px -5px rgb(66, 66, 66);
}
.white button:active{
    height: 259px;
    border-style: inset;
    box-shadow: inset 5px 11px 27px -15px;
}
.black button:active{
    border-style: groove;
    box-shadow: inset -10px -5px 10px -7px rgb(26, 26, 26);
    height: 175px;
}
.A{
    margin-left: 3px;
}
.B{
    margin-left: 49px;
}
.C{
    margin-left: 99px;
}
.D{
    margin-left: 144px;
}

@media screen and (orientation:portrait) {
    .main{
        display: none;
    }
    .page{
        background-size: auto;
    }
    .rimg{
        width: -webkit-fill-available;
        margin: auto;
    }
    .rotation{
        padding-top: 100px;
        display: block;
    }
    .device{
        text-align: center;
    }


}

@media screen and (orientation:landscape) {
    .main{
        display: block;
    }
    .rotation{
        display: none;
    }
}
